{% extends 'aplicacion/1home.html' %}


{% block titulo %}
    <h5 class="mb-5">Hola, mi nombre es Sebastián Giraudo, soy Ingeniero Mecánico radicado en Santa Fe Capital. Cuento con 7 años de experiencia 
        en este campo trabajando para diferentes industrias, desde alimenticias hasta fabricantes de máquinas.
        Este es mi primer curso y contacto con la programación. Comenzó a interesarme este mundo por amigos que hice que se
        desempeñan en esta área y fue lo que me llevó a querer aprender sobre ello, ya sea para complementar mi trabajo o 
        hacer un cambio radical de carrera.</h5>
{% endblock titulo %}

{% block busqueda %}

{% endblock busqueda %}

{% block contenido %}

{% endblock contenido %}